body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  transition: all 0.2s ease-in-out;
}

:root {
  --nav : #86A789;
  --prof: #B2C8BA;
  --bg: #EBF3E8;
  --grey: #D2E3C8;
  --serBar: #ffff;
  --text: black;
}

/* :root {
  --nav: #8dd490;
  --prof: #B2C8BA;
  --bg: #EBF3E8;
  --grey: #D2E3C8;
  --serBar: #ffff;
  --text: black;
} */

[data-theme="dark"] {
  --nav:#4f4e6a;
  --prof :rgb(71, 70, 70);
  --grey: #393749;
  --bg : #383737;
  --serBar: #7c739d;
  --text: #fff;
}
